mixin abstract(article, params)
	.panel.panel-default(id="#{article.id}panel")
		.panel-body
			h2.title= article.title
			div
				| !{article.abstract}
				div
					a.btn.btn-link(href=article.url)= t('article.full')
					- if(admin)
						button.btn.btn-link.pull-right(data-toggle="modal", data-article-id="#{article.id}", id="#{article.id}DeleteButton")= t('article.delete')

mixin deleteArticleConfirmDialog(params)
	include confirm-dialog.jade
	script.
		$('##{params.id}ConfirmButton').click(function() {
			var articleId = $("##{params.id}").attr("articleId");
			var articlePanelId = articleId + "panel";
			publish('progress/show', [$.t('deleting'), 'label-info']);
			$.ajax({
				url: "/a/" + articleId,
				type: "DELETE",
				context: document.body
			}).done(function(resp) {
				publish('progress/show', [$.t('deleted'), 'label-info']);
			}).fail(function(err) {
				publish('progress/show', [err, 'label-error', 0]);
			});
			$("#" + articlePanelId).remove();
		});
	
