mixin abstract(article, params)
	.panel.panel-default(id="#{article.id}panel")
		.panel-body
			h2.title= article.title
			div
				| !{article.abstract}
				div
					a.btn.btn-link(href=article.url) More
					- if(admin)
						button.btn.btn-link.pull-right(data-toggle="modal", id="#{article.id}DeleteButton") Delete
						script.
							$('##{article.id}DeleteButton').click(function() {
								$("##{params.id}").modal();
								$("##{params.id}").attr("articleId", "#{article.id}");
							});

mixin deleteArticleConfirmDialog(params)
	include confirm-dialog.jade
	script.
		$('##{params.id}ConfirmButton').click(function() {
			var articleId = $("##{params.id}").attr("articleId");
			var articlePanelId = articleId + "panel";
			$.ajax({
				url: "/a/" + articlePanelId,
				type: "DELETE",
				context: document.body
			}).done(function(resp) {
			
			}, function(err) {
				console.log(err);
			});
			$("#" + articlePanelId).remove();
		});
	
