extends layout

block content
	include nav.jade
	include abstract.jade
	section
		- var params = {"id": "deleteArticleConfirm", "text": t('confirm_delete')};
		- console.log(t('confirm_delete'));
		each article in articles
			+abstract(article, params)
		+deleteArticleConfirmDialog(params)
		form.form-horizontal.hide#articleForm(role="form")
			div.form-group
				label.col-sm-1.control-label(for="inputTitle")= t('title')
				div.col-sm-8
					input.form-control#inputTitle(type="text", placeholder=t('title'))
				div.col-sm-3
					button.btn.btn-primary#saveArticleButton(type="button")= t('save')
					- var params = {"id": "discardConfirm", "text": t('confirm_discard')};
					button.btn.btn-link#discardAritcleButton(type="button", data-toggle="modal", data-target="##{params.id}")= t('discard')
					include confirm-dialog.jade
			div.form-group
				label.col-sm-1.control-label(for="inputTag")= t('tag')
				div.col-sm-8
					input.form-control#inputTag(type="text", placeholder=t('tag_hint'))
			div.form-group
				label.col-sm-1.control-label(for="inputContent")= t('content')
				div.col-sm-8
					span.help-block= t('content_hint_upload')
					input#inputContent(type='file')
					span.help-block= t('content_hint_type')
			textarea#article-textarea.hide
			- if(admin)
						script.
							var articleForm = $('#articleForm');
							var articleTextarea = $('#article-textarea');
							$("#newArticleButton").click((function() {
								articleForm.removeClass('hide');
								console.log(articleTextarea);
								articleTextarea.summernote({
									height: 200
								});
							}));
							$('#saveArticleButton').click(function() {
								articleForm.addClass('hide');
								var sHTML = articleTextarea.code();
								var title = $('#inputTitle').val();
								var tag = $('#inputTag').val();
								var data = {};
								data.title = title;
								data.tag = tag;
								data.content = sHTML;
								$.ajax({
									url: "/a",
									type: "POST",
									context: document.body,
									data: data
									}).done(function(resp) {
										console.log(resp);
										articleTextarea.destroy();
									});
							});
							$('##{params.id}ConfirmButton').click(function() {
								articleForm.addClass('hide');
								articleTextarea.destroy();
							});