extends layout

block content
	include nav.jade
	include abstract.jade
	section
		- var params = {"id": "deleteArticleConfirm", "text": t('confirm_delete')};
		- if(articles.length === 0) {
			.panel.panel-default
				.panel-body
					p= t('no_article')
		- } else {
			each article in articles
				+abstract(article, params)
			+deleteArticleConfirmDialog(params)
		- }
		form.form-horizontal.hide#articleForm(role="form", enctype='multipart/form-data')
			div.form-group
				label.col-sm-1.control-label(for="inputTitle")= t('title')
				div.col-sm-8
					input.form-control#inputTitle(type="text", placeholder=t('title'))
				div.col-sm-3
					button.btn.btn-primary#saveArticleButton(type="button")= t('save')
					- var params = {"id": "discardConfirm", "text": t('confirm_discard')};
					button.btn.btn-link#discardAritcleButton(type="button", data-toggle="modal", data-target="##{params.id}")= t('discard')
					include confirm-dialog.jade
			div.form-group
				label.col-sm-1.control-label(for="inputTag")= t('tag')
				div.col-sm-8
					input.form-control#inputTag(type="text", placeholder=t('tag_hint'))
			div.form-group
				label.col-sm-1.control-label(for="inputContent")= t('content')
				div.col-sm-8
					span.help-block= t('content_hint_upload')
					input#inputContent(type='file')
					span.help-block= t('content_hint_type')
			textarea#article-textarea.hide
			- if(admin)
						script.
							var articleForm = $('#articleForm');
							var articleTextarea = $('#article-textarea');
							$("#newArticleButton").click((function() {
								articleForm.removeClass('hide');
								articleTextarea.summernote({
									height: 200
								});
								$('html, body, .container').animate({scrollTop: $(document).height()}, 300); 
							}));
							$('#saveArticleButton').click(function() {
								publish('progress/show', [$.t('saving'), 'label-info']);
								articleForm.addClass('hide');
								var title = $('#inputTitle').val();
								var tag = $('#inputTag').val();
								var data = new FormData();
								data.append('title', title);
								data.append('tag', tag);
								var files = $('#inputContent')[0].files;
								if(files.length > 0) {
									data.append('file', files[0]);
								} else {
									var sHTML = articleTextarea.code();
									data.append('content', sHTML);
								}
								$.ajax({
									url: "/a",
									type: "POST",
									context: document.body,
									data: data,
									contentType:false,
									processData:false
									}).done(function(resp) {
										publish('progress/show', [$.t('saved'), 'label-info']);
										articleTextarea.destroy();
									}).fail(function(resp) {
										publish('progress/show', [$.t('saving'), 'label-error', 0]);
									});
							});
							$('##{params.id}ConfirmButton').click(function() {
								articleForm.addClass('hide');
								articleTextarea.destroy();
							});