extends layout

block leftContent
	div#loginContainer
		.row
			.col-md-6.col-md-offset-3
				- if(message)
					.alert.alert-danger(role='alert')= message
				.panel.panel-default
					.panel-body
						form.form-horizontal(role='form' action='/login' method='post')
							.form-group
								label.col-sm-3.control-label(for='userName')= t('username')
								.col-sm-9
									input.form-control(type='text' name='username' id='username' placeholder=t('username'))
							.form-group
								label.col-sm-3.control-label(for='password')= t('password')
								.col-sm-9
									input.form-control(type='password' name='password' id='password' placeholder=t('password'))
							.form-group
								.col-sm-offset-3.col-sm-9
									.checkbox
										label
											input(type='checkbox' name='remember' id='remember')
											= t('rememberMe')
							.form-group
								.col-sm-offset-3.col-sm-9
									button.btn.btn-default(type='submit')= t('signin')


