header
	nav.navbar.navbar-default
		div.collapse.navbar-collapse
			ul.nav.navbar-nav
				mixin navItem(active, text, href)
					- if(active) {
						li.active
							a(href="#{href}")= text
					- } else {
						li
							a(href="#{href}")= text
					- }
				+navItem((page == "article"), "Article", "/")
				+navItem((page == "resume"), "Resume", "/resume")
				+navItem((page == "how"), "How", "#")
			div
				- if(admin)
					ul.nav.navbar-nav.navbar-right
						li
							a(href="#")= t('login')
					button#newArticleButton.btn.btn-default.navbar-btn.navbar-right(type="button")= t('create')
				- else
					ul.nav.navbar-nav.navbar-right
						li
							a(href="#")= t('logout')
	div.label.label-info.hide#progress haha
	script.
		subscribe("progress/show", function(message, className, duration) {
			var progress = $('#progress');
			progress.addClass(className ? className : 'label-info');
			progress.removeClass('hide');
			progress.html(message);
			if(duration === 0) {
				return;
			}
			setTimeout(function() {
				progress.addClass('hide');
			}, duration ? duration : 4000);
		});
		
		subscribe("progress/hide", function() {
			var progress = $('#progress');
			progress.addClass('hide');
			progress.html('');
		});