header
	nav.navbar.navbar-default
		div.collapse.navbar-collapse
			ul.nav.navbar-nav
				mixin navItem(active, text, href)
					- if(active) {
						li.active
							a(href="#{href}")= text
					- } else {
						li
							a(href="#{href}")= text
					- }
				+navItem((page == "article"), "Article", "/")
				+navItem((page == "resume"), "Resume", "/resume")
				+navItem((page == "how"), "How", "#")
			div
				- if(admin)
					ul.nav.navbar-nav.navbar-right
						li
							a(href="#")= t('login')
					button#newArticleButton.btn.btn-default.navbar-btn.navbar-right(type="button")= t('create')
				- else
					ul.nav.navbar-nav.navbar-right
						li
							a(href="#")= t('logout')
	div.label.label-info.hide#progress haha