header
	nav.navbar.navbar-default
		div.collapse.navbar-collapse
			ul.nav.navbar-nav
				mixin navItem(active, text, href)
					- if(active) {
						li.active
							a(href="#{href}")= text
					- } else {
						li
							a(href="#{href}")= text
					- }
				+navItem((page == "article"), "Article", "/")
				+navItem((page == "resume"), "Resume", "/resume")
				+navItem((page == "how"), "How", "/how")
			div
				- if(user)
					p.navbar-text.navbar-right
						a.navbar-link(href='/profile')= user.displayName
					ul.nav.navbar-nav.navbar-right
						li
							a(href="/logout")= t('logout')
					button#newArticleButton.btn.btn-default.navbar-btn.navbar-right(type="button")= t('create')
	div.label.label-info.hide#progress